In [1]:
cd ..

/home/jovyan/projects/data_science/gt_ml_project_1

In [2]:
%run __init__.py

In [3]:
%run __load_data__.py

### Education Redundancy

- `education-num`
- Does `education-num` correspond one-to-one to `education`?

In [4]:
list(adult_train_data['education'].unique())

[' Some-college',
 ' Masters',
 ' Assoc-voc',
 ' HS-grad',
 ' Bachelors',
 ' 12th',
 ' 1st-4th',
 ' Assoc-acdm',
 ' 9th',
 ' Prof-school',
 ' 10th',
 ' Doctorate',
 ' 7th-8th',
 ' 11th',
 ' 5th-6th',
 ' Preschool']

In [5]:
ed_labels =  [' ',
              ' Preschool',
              ' 1st-4th',
              ' 5th-6th',
              ' 7th-8th',
              ' 9th',
              ' 10th',
              ' 11th',
              ' 12th',
              ' HS-grad',
              ' Some-college',
              ' Assoc-voc',
              ' Assoc-acdm',
              ' Bachelors',
              ' Masters',
              ' Prof-school',
              ' Doctorate',]
ed_labels_num = list(enumerate(ed_labels))
ed_labels_num

[(0, ' '),
 (1, ' Preschool'),
 (2, ' 1st-4th'),
 (3, ' 5th-6th'),
 (4, ' 7th-8th'),
 (5, ' 9th'),
 (6, ' 10th'),
 (7, ' 11th'),
 (8, ' 12th'),
 (9, ' HS-grad'),
 (10, ' Some-college'),
 (11, ' Assoc-voc'),
 (12, ' Assoc-acdm'),
 (13, ' Bachelors'),
 (14, ' Masters'),
 (15, ' Prof-school'),
 (16, ' Doctorate')]

In [6]:
def compare_ed_num(ednum, edlabel):    
    is_edlabel = adult_train_data['education'] == edlabel
    is_ednum = adult_train_data['education-num'] == ednum
    edlabel_sum = len(adult_train_data[is_edlabel]['education'])
    ednum_sum = len(adult_train_data[is_ednum]['education-num'])
    edboth_sum = len(adult_train_data[is_edlabel & is_ednum])
    return edlabel, edlabel_sum, ednum_sum, edboth_sum

In [7]:
for ed_tuple in ed_labels_num:
    print(compare_ed_num(*ed_tuple))

(' ', 0, 0, 0)
(' Preschool', 38, 38, 38)
(' 1st-4th', 139, 139, 139)
(' 5th-6th', 273, 273, 273)
(' 7th-8th', 507, 507, 507)
(' 9th', 397, 397, 397)
(' 10th', 708, 708, 708)
(' 11th', 905, 905, 905)
(' 12th', 345, 345, 345)
(' HS-grad', 8028, 8028, 8028)
(' Some-college', 5593, 5593, 5593)
(' Assoc-voc', 1066, 1066, 1066)
(' Assoc-acdm', 850, 850, 850)
(' Bachelors', 4107, 4107, 4107)
(' Masters', 1362, 1362, 1362)
(' Prof-school', 437, 437, 437)
(' Doctorate', 316, 316, 316)

##### Verified they are one-to-one

Drop the feature. 

This is done in `__load_data__.py`.

### One-Hot Encode Categorical Features

In [8]:
adult_train_data.dtypes

age                  int64
workclass         category
fnlwgt               int64
education         category
education-num        int64
marital-status    category
occupation        category
relationship      category
race              category
sex               category
capital-gain         int64
capital-loss         int64
hours-per-week       int64
native-country    category
dtype: object

In [9]:
adult_train_data = pd.get_dummies(adult_train_data, drop_first=True)
adult_test_data = pd.get_dummies(adult_test_data, drop_first=True)

In [10]:
adult_train_data.dtypes.unique()

array([dtype('int64'), dtype('uint8')], dtype=object)

In [11]:
adult_train_feature_names = set(adult_train_data.columns)
adult_test_feature_names = set(adult_test_data.columns)

In [12]:
adult_train_feature_names - adult_test_feature_names

{'native-country_ Holand-Netherlands'}

In [13]:
adult_test_feature_names - adult_train_feature_names

set()