### Vectors and Matrices

#### The Vector

A vector is a multi-dimensional element.

e.g. $(1)$, $(1,3,5,8)$, $(1,2,\dots,50)$

As opposed to a scalar

e.g. $1, \sqrt{2}, e, \pi, 101010, 47$

#### Scalar Arithmetic

- add
- subtract
- multiply
- divide

#### Representing Data with Matrices

We will use $n$ to represent the number of distinct data points, or observations, in our data set. We will let $p$ denote the number of variables that are available for use in making predictions.

In general, we will let $x_{ij}$ represent the value of the $j^{th}$ variable for the $i^{th}$ observation, where $i \in [1:n]$ and $j \in [1:p]$.

$i$ will be used to index the samples or observations (from 1 to $n$) and $j$ will be used to index the variables (from 1 to $p$). We let $X$ denote a $n \times p$ matrix whose $(i,j)^{th}$ element is $x_{ij}$.

$$X =
\left(
\begin{matrix}
x_{11} & x_{12} & \dots & x_{1p} \\
x_{21} & x_{22} & \dots & x_{2p} \\
\vdots & \vdots & \ddots & \vdots \\
x_{n1} & x_{n2} & \dots & x_{np} 
\end{matrix}
\right)$$

It is useful to visualize $X$ as a spreadsheet of numbers with $n$ rows and $p$ columns.

#### Representing a Matrix in Python

In Python, we can represent a matrix using the `numpy` library and its `array` class.

In [1]:
###### Import `numpy`

import numpy as np

In [2]:
###### Generate a list of random numbers

import random

n = 5
p = 3
list_of_numbers = []
for _ in range(15):
    list_of_numbers.append(random.randint(1, 100))

In [3]:
###### Display the list of random numbers

list_of_numbers

[37, 68, 61, 10, 10, 5, 67, 69, 97, 30, 67, 60, 60, 96, 32]

Here, we turn our list of numbers into an `np.array` object, then reshape that object into an $n \times p$ matrix.

In [4]:
###### Reshape the list of random numbers into an $n \times p$ matrix

X = np.array(list_of_numbers).reshape((n, p))

In [5]:
###### Display the new matrix, $X$

X

array([[37, 68, 61],
       [10, 10,  5],
       [67, 69, 97],
       [30, 67, 60],
       [60, 96, 32]])

In [6]:
###### Display the shape of the new matrix, $X$ 

X.shape

(5, 3)

#### The Elements of $X$

$X$ is comprised of two different kinds of vectors:

- Each row of $X$ is a vector of length $p$ (contains $p$ elements).
- Each row of $X$ is an observation representing a single sample or point from our data set
- Each column of $X$ is a vector of length $n$ (contains $n$ elements).
- Each column of $X$ is all of the observations for a given variable over our entire data set

All of the rows of $X$ are the elements of $X$ considered as row vectors. This is probably how you are most comfortable thinking about $X$ i.e. some data set.

At the same time, all of the column of $X$ are the elements of $X$ considered as column vectors.

Suppose we consider a column of $X$ as

$$\mathbf{x}_j = 
\left(
\begin{matrix}
x_{1j} \\
x_{2j} \\
\vdots \\
x_{nj}  
\end{matrix}
\right)
$$

Note that this is taking into account that we always think of a single vector as a column.

We can then think of $X$ as

$$ X =
\left(
\begin{matrix}
\mathbf{x}_1 & \mathbf{x}_2 & \dots & \mathbf{x}_p
\end{matrix}
\right)$$

#### Column-Oriented Matrices in Python

In Python, it is easier to work with the columns of a matrix using the Pandas library, and its `DataFrame` class.

In [7]:
###### Import `pandas`

import pandas as pd

In [8]:
###### Convert $X$ into a `DataFrame`

X = pd.DataFrame(X)

In [9]:
###### Display the matrix $X$, now a `DataFrame`

X

    0   1   2
0  37  68  61
1  10  10   5
2  67  69  97
3  30  67  60
4  60  96  32

In [10]:
###### Display the first column of $X$

X[0]

0    37
1    10
2    67
3    30
4    60
Name: 0, dtype: int64

In [11]:
###### Display the first three columns of $X$

X[[0,1,2]]

    0   1   2
0  37  68  61
1  10  10   5
2  67  69  97
3  30  67  60
4  60  96  32

In [12]:
###### Display the first and third columns of $X$

X[[0,2]]

    0   2
0  37  61
1  10   5
2  67  97
3  30  60
4  60  32

#### Referencing a Row in a `DataFrame`

It may still be necessary to reference the row of a matrix represented as a `DataFrame`. This can be done using the `.loc()` method. With `.loc()` rows can be referenced by their row index.

In [13]:
###### Display the second row of $X$ 

X.loc[2]

0    67
1    69
2    97
Name: 2, dtype: int64

Note that even here, the row vector is represented as a column of numbers.

#### The Transpose

We obtain the transpose of a matrix by flipping it around its axis.

So that

$$X^T =
\left(
\begin{matrix}
x_{11} & x_{21} & \dots & x_{n1} \\
x_{12} & x_{22} & \dots & x_{n2} \\
\vdots & \vdots & \ddots & \vdots \\
x_{1p} & x_{2p} & \dots & x_{np} 
\end{matrix}
\right)$$

In [14]:
###### Display the transpose of $X$

X.T

    0   1   2   3   4
0  37  10  67  30  60
1  68  10  69  67  96
2  61   5  97  60  32

#### The Dot Product

It is possible to multiply two vectors of equal length together. This operation is called the **dot product** and yields a scalar value, that is, a single number.

This number is obtained by

1. multiplying each of the corresponding values from the two vectors
1. summing the results

Written in Python, the process would look as follows. Note that we are making use of a convention of writing vectors as a repeated lowercase letter.

In [15]:
###### Prepare a list of the multiples of two vectors

aa = np.array([1,2,3])
bb = np.array([-2,-1,0])

multiples = []

for a, b in zip(aa, bb):
    multiples.append(a*b)

In [16]:
###### Display the list `multiples`

multiples

[-2, -2, 0]

In [17]:
###### Calculate the sum of the list `multiples` to perform the dot product

dot_product = sum(multiples)

In [18]:
###### Display the dot product

dot_product

-4

#### The Dot Product as a Row Vector Times a Column Vector

Strictly speaking, the dot product is the multiplication of a row vector times a column vector. So that if we have

$$\mathbf{a} = 
\left(
\begin{matrix}
1 \\
2 \\
3  
\end{matrix}
\right)
\text{ and }\text{ }\mathbf{b} = 
\left(
\begin{matrix}
-2 \\
-1 \\
0  
\end{matrix}
\right)
$$

then the dot product we just performed would be written as

$$\mathbf{a}^T\mathbf{b} = 
\left(
\begin{matrix}
1 &
2 &
3  
\end{matrix}
\right)
\left(
\begin{matrix}
-2 \\
-1 \\
0  
\end{matrix}
\right) = 1\cdot-2+2\cdot-1+3\cdot0-4$$

or

In [19]:
###### Calculate the dot product using `.dot()`

aa.dot(bb)

-4

#### Matrix Multiplication

At the heart of the vast majority of work that we will be doing is matrix multiplication. Let us consider two matrices, $A$ and $B$.

$$A = 
\left(
\begin{matrix}
1 & 2\\
3 & 4\\
\end{matrix}\right)
\text{  and }
\text{ }
B = 
\left(
\begin{matrix}
5 & 6\\
7 & 8\\
\end{matrix}\right)
$$

Then the product of $A$ and $B$ is denoted $AB$.

The $(i,j)^{th}$ element of $AB$ is computed by computing the dot product of the $i$th row of $A$ with the $j$th row of B.

In [20]:
###### Create two matrices, $A$ and $B$, as `DataFrames`

A = pd.DataFrame([[1,2],[3,4]])
B = pd.DataFrame([[5,6],[7,8]])

So the (1,1)th element of $AB$ should be $1\cdot5+2\cdot7 =19$.

In [21]:
###### Perform the dot product of the first row of $A$ with the first column of $B$

A.loc[0].dot(B[0])

19

We would repeat this process for every element of $AB$. As you can imagine this would be very tedious by hand.

In [22]:
###### Multiply $A$ times $B$

A.dot(B)

    0   1
0  19  22
1  43  50

#### The importance of Matrices

##### Transformations

- Rotation Matrix (project data from two axes to one)
- Compute the difference vector