In [2]:
cd ..

/home/jovyan

In [3]:
import pandas as pd

In [4]:
adult_scaled = pd.read_pickle('data/adult_cluster-scaled.p')

In [5]:
adult_models = adult_scaled[(adult_scaled.index == 10) |
                            (adult_scaled.index == 11) |
                            (adult_scaled.index == 12) |
                            (adult_scaled.index == 13) |
                            (adult_scaled.index == 14)
                            ]['model_x']

adult_models.columns = ['full', 'diag']
adult_models = adult_models.full.values

In [6]:
adult_models

array([ GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=100,
        means_init=None, n_components=10, n_init=1, precisions_init=None,
        random_state=0, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None),
       GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=100,
        means_init=None, n_components=11, n_init=1, precisions_init=None,
        random_state=0, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None),
       GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=100,
        means_init=None, n_components=12, n_init=1, precisions_init=None,
        random_state=0, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None),
       GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=100,
        means_init=None, n_components=13, n_init=1, precisions_init=None,
        random_state=0, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None),
       GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=100,
        means_init=None, n_components=14, n_init=1, precisions_init=None,
        random_state=0, reg_covar=1e-06, tol=0.001, verbose=0,
        verbose_interval=10, warm_start=False, weights_init=None)], dtype=object)

In [7]:
run src/load_data.py

In [8]:
adult_train_scaled = data['adult']['train']['scaled']
madelon_train_scaled = data['madelon']['train']['scaled']

In [9]:
from sklearn.metrics import f1_score

In [10]:
madelon_final = pd.read_pickle('data/madelon_cluster_final.p')

In [11]:
madelon_final_model = madelon_final.model.values[0]
madelon_final_model

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [12]:
f1_score(madelon_train_labels.replace(-1,0), madelon_final_model.labels_)

0.4211586901763224

In [29]:
pd.Series(madelon_final_model.labels_, index=madelon_train_labels.index).to_pickle('data/madelon_best_cl_2.p')

Compare to 0.801917 peak performance on project 1 and 0.666667 dummy performance.

In [13]:
adult_10_clusters = adult_models[0].predict(adult_train_scaled)
adult_11_clusters = adult_models[1].predict(adult_train_scaled)
adult_12_clusters = adult_models[2].predict(adult_train_scaled)
adult_13_clusters = adult_models[3].predict(adult_train_scaled)
adult_14_clusters = adult_models[4].predict(adult_train_scaled)

In [14]:
adult_10_df = pd.DataFrame([adult_10_clusters, adult_train_labels]).T
adult_11_df = pd.DataFrame([adult_11_clusters, adult_train_labels]).T
adult_12_df = pd.DataFrame([adult_12_clusters, adult_train_labels]).T
adult_13_df = pd.DataFrame([adult_13_clusters, adult_train_labels]).T
adult_14_df = pd.DataFrame([adult_14_clusters, adult_train_labels]).T
adult_10_df.columns = ['cluster', 'label']
adult_11_df.columns = ['cluster', 'label']
adult_12_df.columns = ['cluster', 'label']
adult_13_df.columns = ['cluster', 'label']
adult_14_df.columns = ['cluster', 'label']

In [16]:
adult_10_df.groupby(['cluster', 'label',]).agg({'label' : 'count'}).T

cluster    0          1          2          3     4         5         6       \
label      0    1     0    1     0     1    1     0    1    0    1    0    1
label    628  282  4846  297  4671  3640  113  1172  234  553  584  430  235

cluster     7          8         9
label       0    1     0    1    0   1
label    4693  193  1597  401  444  58

In [17]:
adult_10_df_unmelt = adult_10_df.groupby(['cluster', 'label',]).agg({'label' : 'count'}).unstack().reset_index().fillna(0)
adult_10_classes = (adult_10_df_unmelt['label'][0] < adult_10_df_unmelt['label'][1]).astype(int)
adult_11_df_unmelt = adult_11_df.groupby(['cluster', 'label',]).agg({'label' : 'count'}).unstack().reset_index().fillna(0)
adult_11_classes = (adult_11_df_unmelt['label'][0] < adult_11_df_unmelt['label'][1]).astype(int)
adult_12_df_unmelt = adult_12_df.groupby(['cluster', 'label',]).agg({'label' : 'count'}).unstack().reset_index().fillna(0)
adult_12_classes = (adult_12_df_unmelt['label'][0] < adult_12_df_unmelt['label'][1]).astype(int)
adult_13_df_unmelt = adult_13_df.groupby(['cluster', 'label',]).agg({'label' : 'count'}).unstack().reset_index().fillna(0)
adult_13_classes = (adult_13_df_unmelt['label'][0] < adult_13_df_unmelt['label'][1]).astype(int)
adult_14_df_unmelt = adult_14_df.groupby(['cluster', 'label',]).agg({'label' : 'count'}).unstack().reset_index().fillna(0)
adult_14_classes = (adult_14_df_unmelt['label'][0] < adult_14_df_unmelt['label'][1]).astype(int)

In [18]:
adult_10_df['cluster_labels'] = adult_10_df.cluster.apply(lambda x: adult_10_classes[x])
adult_11_df['cluster_labels'] = adult_11_df.cluster.apply(lambda x: adult_11_classes[x])
adult_12_df['cluster_labels'] = adult_12_df.cluster.apply(lambda x: adult_12_classes[x])
adult_13_df['cluster_labels'] = adult_13_df.cluster.apply(lambda x: adult_13_classes[x])
adult_14_df['cluster_labels'] = adult_14_df.cluster.apply(lambda x: adult_14_classes[x])

In [19]:
display(f1_score(adult_10_df.label, adult_10_df.cluster_labels))
display(f1_score(adult_11_df.label, adult_11_df.cluster_labels))
display(f1_score(adult_12_df.label, adult_12_df.cluster_labels))
display(f1_score(adult_13_df.label, adult_13_df.cluster_labels))
display(f1_score(adult_14_df.label, adult_14_df.cluster_labels))

0.19129957458487717

0.036747967479674799

0.036747967479674799

0.18597518472047958

0.52729164695866049

In [20]:
final_adult_model = adult_models[4]

In [21]:
from sklearn.externals import joblib
joblib.dump(final_adult_model, 'data/adult-final-cluster.pkl') 
joblib.dump(madelon_final_model, 'data/madelon-final-cluster.pkl')

['data/madelon-final-cluster.pkl']

In [22]:
display(adult_12_df.groupby(['cluster', 'label',]).agg({'label' : 'count'}).T)

cluster    0           1          2         3    4        5  ...    7        \
label       0     1     0    1     0    1    1    0   1    0 ...     0    1
label    3834  3069  1683  256  1352  801  113  722  21  714 ...  2625  155

cluster   8        9          10         11
label      0   1    0    1     0    1     0   1
label    635  63  597  468  2364  148  3842  65

[1 rows x 23 columns]

In [23]:
display(adult_13_df.groupby(['cluster', 'label',]).agg({'label' : 'count'}).T)

cluster   0          1          2          3     4        5  ...     8        \
label      0    1     0    1     0     1    1     0   1    0 ...      0    1
label    965  433  1725  258  4155  3441  113  1554  47  469 ...   1550  155

cluster   9         10        11       12
label      0    1    0   1     0   1    0    1
label    539  457  753  29  2272  49  666  162

[1 rows x 25 columns]

In [24]:
display(adult_14_df.groupby(['cluster', 'label',]).agg({'label' : 'count'}).T)

cluster    0          1         2         3     4        5   ...    9        \
label       0    1     0    1    0    1    1     0   1    0  ...     0    1
label    2954  995  1765  265  535  231  113  1491  42  582  ...   542  463

cluster   10        11       12         13
label      0   1     0   1    0    1     0     1
label    478  17  2132  40  433  122  1747  2674

[1 rows x 27 columns]

In [26]:
adult_14_df.to_pickle('data/adult_best_cl_14.p')