# Ingest Data

In [ ]:
import matplotlib.pyplot as plt
from patsy import dmatrices
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

![](https://www.evernote.com/l/AAHnO3y39xlDerYJwOvrQdUoTxXpGB2dlAcB/image.png)

       #  Attribute                     Domain
       -- -----------------------------------------
       1. Sample code number            id number
       2. Clump Thickness               1 - 10
       3. Uniformity of Cell Size       1 - 10
       4. Uniformity of Cell Shape      1 - 10
       5. Marginal Adhesion             1 - 10
       6. Single Epithelial Cell Size   1 - 10
       7. Bare Nuclei                   1 - 10
       8. Bland Chromatin               1 - 10
       9. Normal Nucleoli               1 - 10
      10. Mitoses                       1 - 10
      11. Class:                        (2 for benign, 4 for malignant)

We will be working with the unformatted data.

## Unformatted Data

```
Olvi Mangasarian provided the original database in a different format
than the one under breast-cancer-wisconsin.data, which contains only
the complete set of data that was available on 15 July 1992.  In
particular, data was separated into groups, each preceeded by some
documentation.  I've kept this information here in case you needed
more details.

--------------------------------CUT--------------------------------------------
#####  Group 1 : 367 points: 200B 167M (January 1989)
#####  Revised Jan 10, 1991: Replaced zero bare nuclei in 1080185 & 1187805 
#####  Revised Nov 22,1991: Removed 765878,4,5,9,7,10,10,10,3,8,1 no record
#####                     : Removed 484201,2,7,8,8,4,3,10,3,4,1 zero epithelial 
#####			  : Changed 0 to 1 in field 6 of sample 1219406
#####			  : Changed 0 to 1 in field 8 of following sample:
#####			  : 1182404,2,3,1,1,1,2,0,1,1,1

1000025,2,5,1,1,1,2,1,3,1,1
1002945,2,5,4,4,5,7,10,3,2,1
1015425,2,3,1,1,1,2,2,3,1,1
1016277,2,6,8,8,1,3,4,3,7,1
1017023,2,4,1,1,3,2,1,3,1,1
1017122,4,8,10,10,8,7,10,9,7,1
...

##### Group 2 : 70 points: 57B 13M (October 1989)

160296,4,5,8,8,10,5,10,8,10,3
342245,2,1,1,3,1,2,1,1,1,1
428598,2,1,1,3,1,1,1,2,1,1
492561,2,4,3,2,1,3,1,2,1,1
493452,2,1,1,3,1,2,1,1,1,1
493452,2,4,1,2,1,2,1,2,1,1
521441,2,5,1,1,2,2,1,2,1,1
...

##### Current Total 698 points
##### End
```

In [ ]:
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/unformatted-data'

We store the url of the file as a string.

In [ ]:
URL

Because the file is unformatted, it can not be read in simply using the `pd.read_csv()` function.

In [ ]:
try:
    pd.read_csv(URL)
except pd.errors.ParserError as e:
    print("ParserError: " + str(e))

This is not uncommon in data science, where we must prepare the data ourselves prior to analysis.

In [ ]:
from urllib.request import urlopen

In [ ]:
data = urlopen(URL)

In [ ]:
type(data)

In [ ]:
data.status

In [ ]:
line = data.readline()
line

In [ ]:
type(line)

In [ ]:
line = data.readline().decode()
line

In [ ]:
type(line)

In [ ]:
def read_string(data):
    return data.readline().decode()

In [ ]:
data = urlopen(URL)
line = read_string(data)
count = 0
while line:
    count += 1
    line = read_string(data)

In [ ]:
count

In [ ]:
my_string = 'Hello my name is'

In [ ]:
"my" in my_string

In [ ]:
header = True
data = urlopen(URL)
line = read_string(data)
count = 0
while line:
    line = read_string(data)
    if header == True:
        if '#####' in line:
            header = False
    else:
        count += 1
count

In [ ]:
data = urlopen(URL)
groups = []
tmp = []
line = read_string(data)
while line:

    if 'Group' in line:
        groups.append(tmp)
        tmp = []

    tmp.append(line)
    line = read_string(data)
groups.append(tmp)

In [ ]:
groups[0]

In [ ]:
groups[-1][:10]

In [ ]:
groups[0].remove('\n')

In [ ]:
groups[0]

In [ ]:
header = True
count = 0
data = urlopen(URL)
groups = []
tmp = []
line = read_string(data)
while line:
    if 'Group' in line:
        groups.append(tmp)
        tmp = []
    if line != '\n':
        tmp.append(line)
    line = read_string(data)
groups.append(tmp)

### Local Processing

In [ ]:
for group in groups:
    for line in group:
        if '#####' in line: 
            print(line)

In [ ]:
groups = [
    [line for line in group if '#####' not in line]
    for group in groups
]

In [ ]:
groups[1][:10]

In [ ]:
'1033078,2,4,2,1,1,2,1,2,1,1\n'.split(',')

In [ ]:
group_1 = groups[1]

In [ ]:
group_1[:5]

In [ ]:
group_1 = [line.split(',') for line in group_1]

In [ ]:
group_1[:5]

In [ ]:
group_1 = groups[1]

In [ ]:
group_1 = [(line.replace('\n','').split(',')) for line in group_1]

In [ ]:
group_1 = groups[1]
group_1 = [line.replace('\n','') for line in group_1]
group_1 = [line.split(',') for line in group_1]

In [ ]:
group_1 = groups[1]
temp = []
for line in group_1:
    temp.append(line.replace('\n','').split(','))
group_1 = temp

In [ ]:
group_1 = groups[1]
temp = []
for line in group_1:
    line = line.replace('\n','')
    temp.append(line.split(','))
group_1 = temp

In [ ]:
group_1[:5]

In [ ]:
group_1 = groups[1]
group_1 = [(line.replace('\n','')
                .split(',')) for line in group_1]
group_1 = [[int(value) for value in line] for line in group_1]

In [ ]:
group_1[:5]

In [ ]:
group_1 = groups[1]
group_1 = [(line.replace('\n','')
                .split(',')) for line in group_1]
group_1 = np.array(group_1, dtype=int)

In [ ]:
group_1[:5]

In [ ]:
group_1 = groups[1]
group_1 = [(line.replace('\n','')
                .split(',')) for line in group_1]

group_1 = np.array(group_1, dtype=int)
group_1_df = pd.DataFrame(group_1)

In [ ]:
group_1_df.head()

```
#####  Group 1 : 367 points: 200B 167M (January 1989)
```

In [ ]:
group_1_df.shape

In [ ]:
def group_to_df(group):
    group = [(line.replace('\n','')
                    .split(',')) for line in group]
    group = np.array(group, dtype=int)
    group_df = pd.DataFrame(group)
    return group_df

```
#####  Group 1 : 367 points: 200B 167M (January 1989)

#####  Revised Jan 10, 1991: Replaced zero bare nuclei in 1080185 & 1187805 

#####  Revised Nov 22,1991: Removed 765878,4,5,9,7,10,10,10,3,8,1 no record

#####                     : Removed 484201,2,7,8,8,4,3,10,3,4,1 zero epithelial 

#####			  : Changed 0 to 1 in field 6 of sample 1219406

#####			  : Changed 0 to 1 in field 8 of following sample:

#####			  : 1182404,2,3,1,1,1,2,0,1,1,1

##### Group 2 : 70 points: 57B 13M (October 1989)

##### Group 3 : 31 points: 22B 9M (February 1990)

##### Group 4 : 17 points: 14B 3M (April 1990)

##### Group 5 : 48 points: 36B 12M (August 1990)

##### Group 6: 49 Points: 40B  9M (December 7, 1990; Updated Jan 8, 1991

##### by dropping 2 unsatisfactorily   measured points 803531 &

##### 1268952,4,10,10,7,2,7,1,4,3,3) <-----Reappears in Group 8 as:

##### 1268952,4,10,10,7,8,7,1,10,10,3 

##### Group 7: 31 Points: 16B  15M (June 1991)

##### Group 8: 86 Points: 72B  14M  (November 1991)

##### Current Total 698 points

##### End
```

In [ ]:
for group in groups:
    print(len(group))

In [ ]:
group_1_df = group_to_df(groups[1])
group_2_df = group_to_df(groups[2])
group_3_df = group_to_df(groups[3])
group_4_df = group_to_df(groups[4])
group_5_df = group_to_df(groups[5])
group_6_df = group_to_df(groups[7])
group_7_df = group_to_df(groups[8])
group_8_df = group_to_df(groups[9])

In [ ]:
from IPython.display import display

In [ ]:
print(group_1_df.shape)
print(group_2_df.shape)
print(group_3_df.shape)
print(group_4_df.shape)
print(group_5_df.shape)
print(group_6_df.shape)
print(group_7_df.shape)
print(group_8_df.shape)

In [ ]:
group_1_df['group'] = 'group_1'
group_2_df['group'] = 'group_2'
group_3_df['group'] = 'group_3'
group_4_df['group'] = 'group_4'
group_5_df['group'] = 'group_5'
group_6_df['group'] = 'group_6'
group_7_df['group'] = 'group_7'
group_8_df['group'] = 'group_8'

In [ ]:
breast_cancer_df = pd.concat([group_1_df, group_2_df, group_3_df, group_4_df, 
                              group_5_df, group_6_df, group_7_df, group_8_df])

In [ ]:
breast_cancer_df.shape

```
##### Current Total 698 points
```

![](https://www.evernote.com/l/AAHnO3y39xlDerYJwOvrQdUoTxXpGB2dlAcB/image.png)

### Dataframes

In [ ]:
breast_cancer_df.head()

In [ ]:
type(breast_cancer_df)

In [ ]:
bc_columns = [
    'Sample_code_number',
    'Clump_Thickness',
    'Uniformity_of_Cell_Size',
    'Uniformity_of_Cell_Shape',
    'Marginal_Adhesion',
    'Single_Epithelial_Cell_Size',
    'Bare_Nuclei',
    'Bland_Chromatin',
    'Normal_Nucleoli',
    'Mitoses',
    'Diagnosis',
    'group'
]

In [ ]:
breast_cancer_df.columns = bc_columns

In [ ]:
breast_cancer_df.head()

### Export to CSV

Ultimately, we will export a CSV of the dataframe to disk. This will make it easy to access the same data from both Python and R.

In [ ]:
%ls

In [ ]:
%mkdir -p data

In [ ]:
%ls

In [ ]:
breast_cancer_df.to_csv('data/breast_cancer.csv', index=False)