In [1]:
cd ..

/home/jovyan/adult_classification_3rd_session

In [2]:
%run __init__.py

In [3]:
adult_train_df = pd.read_pickle('data/adult_train.p')

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
def run_benchmark(model, model_name, feature_set, target_set):
    X_train, X_test, y_train, y_test = train_test_split(feature_set, target_set)
    model.fit(X_train, y_train)
    return {'train_score' : model.score(X_train, y_train), 
            'test_score' : model.score(X_test, y_test),
            'model_name' : model_name }

In [11]:
target = adult_train_df['target_ >50K']
feature_df = adult_train_df.drop('target_ >50K', axis=1)

### Make copies of the `adult_train_df`

Should we standardize the dummies? Let's look at both.

In [13]:
adult_train_standardize_all_df = feature_df.copy()
adult_train_standardize_num_df = feature_df.copy()

### Standardize All Features

    StandardScaler().fit_transform()

In [14]:
adult_train_standardize_all = (StandardScaler()
                               .fit_transform(adult_train_standardize_all_df))
adult_train_standardize_all_df = pd.DataFrame(adult_train_standardize_all,
                                              columns=adult_train_standardize_all_df.columns)

In [15]:
adult_train_standardize_all_df.head()

,age,fnlwgt,capital-gain,capital-loss,hours-per-week,capital-net,has_capital_gain_filter_7500,has_capital_net_filter_7500,workclass_ Local-gov,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.042796,-1.062722,0.146092,-0.218586,-0.077734,0.157514,-0.19243,-0.19243,-0.271241,-1.682144,...,-0.033593,-0.060224,-0.019101,-0.048575,-0.037342,-0.023747,-0.024436,0.310871,-0.046113,-0.023038
1,0.880288,-1.007871,-0.147445,-0.218586,-2.331531,-0.135074,-0.19243,-0.19243,-0.271241,-1.682144,...,-0.033593,-0.060224,-0.019101,-0.048575,-0.037342,-0.023747,-0.024436,0.310871,-0.046113,-0.023038
2,-0.033340,0.244693,-0.147445,-0.218586,-0.077734,-0.135074,-0.19243,-0.19243,-0.271241,0.594479,...,-0.033593,-0.060224,-0.019101,-0.048575,-0.037342,-0.023747,-0.024436,0.310871,-0.046113,-0.023038
3,1.108695,0.425240,-0.147445,-0.218586,-0.077734,-0.135074,-0.19243,-0.19243,-0.271241,0.594479,...,-0.033593,-0.060224,-0.019101,-0.048575,-0.037342,-0.023747,-0.024436,0.310871,-0.046113,-0.023038
4,-0.794697,1.406658,-0.147445,-0.218586,-0.077734,-0.135074,-0.19243,-0.19243,-0.271241,0.594479,...,-0.033593,-0.060224,-0.019101,-0.048575,-0.037342,-0.023747,-0.024436,-3.216773,-0.046113,-0.023038

### Standardize Numerical Features

In [16]:
adult_train_num_df = (adult_train_standardize_num_df
                      .select_dtypes(['int64']))
adult_train_num_df.head()

   age  fnlwgt  capital-gain  capital-loss  hours-per-week  capital-net
0   39   77516          2174             0              40         2174
1   50   83311             0             0              13            0
2   38  215646             0             0              40            0
3   53  234721             0             0              40            0
4   28  338409             0             0              40            0

### Standardize the Numerical Features

In [17]:
adult_train_num = (StandardScaler()
                   .fit_transform(adult_train_num_df))

In [18]:
adult_train_num_df = pd.DataFrame(adult_train_num,
                                  columns=adult_train_num_df.columns)
adult_train_num_df.head()

        age    fnlwgt  capital-gain  capital-loss  hours-per-week  capital-net
0  0.042796 -1.062722      0.146092     -0.218586       -0.077734     0.157514
1  0.880288 -1.007871     -0.147445     -0.218586       -2.331531    -0.135074
2 -0.033340  0.244693     -0.147445     -0.218586       -0.077734    -0.135074
3  1.108695  0.425240     -0.147445     -0.218586       -0.077734    -0.135074
4 -0.794697  1.406658     -0.147445     -0.218586       -0.077734    -0.135074

### Reassign the Standardized Numerical Features to Output Dataframe

In [19]:
for column in adult_train_num_df.columns:
    adult_train_standardize_num_df[column] = adult_train_num_df[column]

In [20]:
adult_train_standardize_num_df.head()

,age,fnlwgt,capital-gain,capital-loss,hours-per-week,capital-net,has_capital_gain_filter_7500,has_capital_net_filter_7500,workclass_ Local-gov,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.042796,-1.062722,0.146092,-0.218586,-0.077734,0.157514,False,False,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.880288,-1.007871,-0.147445,-0.218586,-2.331531,-0.135074,False,False,0,0,...,0,0,0,0,0,0,0,1,0,0
2,-0.033340,0.244693,-0.147445,-0.218586,-0.077734,-0.135074,False,False,0,1,...,0,0,0,0,0,0,0,1,0,0
3,1.108695,0.425240,-0.147445,-0.218586,-0.077734,-0.135074,False,False,0,1,...,0,0,0,0,0,0,0,1,0,0
4,-0.794697,1.406658,-0.147445,-0.218586,-0.077734,-0.135074,False,False,0,1,...,0,0,0,0,0,0,0,0,0,0

## Benchmark the Standardization

### Logistic Regression

In [23]:
adult_train_standardize_num_df.shape

(30162, 98)

In [25]:
log_reg_all_output

{'model_name': 'logistic regression',
 'test_score': 0.84750033152101845,
 'train_score': 0.85226117324609874}

In [29]:
log_reg_output = run_benchmark(LogisticRegression(), 
                                   'logistic regression',
                                   adult_train_standardize_all_df, 
                                   target)

### K Neighbors Classifier

In [27]:
knn_output = run_benchmark(KNeighborsClassifier(), 
                           'kneighbors',
                           adult_train_standardize_all_df, 
                           target)

### Decision Tree

In [28]:
dtree_output = run_benchmark(DecisionTreeClassifier(), 
                             'decision tree',
                             adult_train_standardize_all_df, 
                             target)

In [12]:
output = [
    log_reg_output,
    knn_output,
    dtree_output
]
pd.DataFrame(output)

            model_name  test_score  train_score
0  logistic regression    0.785837     0.792936
1           kneighbors    0.769527     0.828036
2        decision tree    0.805198     1.000000